<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <ul class="nav-links">
            <li><a href="/" class="nav-item">Start</a></li>
            <li><a href="./electricity/index" class="nav-item">Elpriser just nu</a></li>
            <li><a href="./electricity/historical" class="nav-item">Elpriser historia</a></li>
        </ul>
    </div>
</nav>