<div class="con">
<h1>Välkommen till Elpris-appen!</h1>

<section>
    <h2>Få Aktuella Elpriser</h2>
    <p>Klicka på knappen nedan för att kontrollera de aktuella elpriserna i din region.</p>
    <a href="/electricity/today" class="button">Visa Nu</a>
</section>
<section>
    <h2>Visa Historiska Elpriser</h2>
    <p>Utforska historisk data för elpriser från den senaste månaden.</p>
    <a href="/electricity/historical" class="button">Visa Historik</a>
</section>

</div>